{% extends "layouts/back-end/base.twig" %}
{% set page_name = "articles" %}

{% import "components/back-end/pagination.twig" as pagination %}

{% block main %}
	<div class="bg-white rounded-2xl">
		<header class="mb-1 p-6 pl-8 flex justify-between">
			<p class="text-4xl">
            Liste articles
                <span class="block text-sm">{{ list_articles.count }} éléments au total</span>
            </p>
            <a href="{{ admin_url ~ "/articles/add" }}" class="text-md items-center text-blue-500 hover:text-blue-900">Ajouter un nouvel article</a>
		</header>

		<table class="w-full table-fixed bg-white rounded-lg overflow-hidden border-collapse">
			<thead class="">
				<tr class="text-slate-800">
					<th class="font-bold pl-8 text-left border-solid border-slate-200 border-b pb-5">Titre</th>
					<th class="font-bold pl-8 text-left border-solid border-slate-200 border-b pb-5">Chapô</th>
					<th class="font-bold pl-8 text-left border-solid border-slate-200 border-b pb-5">Description</th>
					<th class="font-bold pl-8 text-left border-solid border-slate-200 border-b pb-5">Activé</th>
					<th class="font-bold pl-8 text-left border-solid border-slate-200 border-b pb-5">Date création</th>
					<th class="font-bold pl-8 text-left border-solid border-slate-200 border-b pb-5">Dernière mise à jour</th>
					<th class="pl-8 border-solid border-slate-200 border-b pb-5"></th>
					<th class="pl-8 border-solid border-slate-200 border-b pb-5"></th>
				</tr>
			</thead>
			<tbody>
				{% for item in list_articles.data %}
					<tr class="hover:bg-neutral-50">
						<td class="bg-transparent border-solid border-slate-200 border-b p-4 pl-8">{{ item.title }}</td>
						<td class="p-4 pl-8 bg-transparent border-solid border-slate-200 border-b shadow-transparent">
							<p class="line-clamp-1" title="{{ item.abstract }}">{{ item.abstract }}</p>
						</td>
                        <td class="p-4 pl-8 bg-transparent border-solid border-slate-200 border-b shadow-transparent">
							<p class="line-clamp-1" title="{{ item.content }}">{{ item.content }}</p>
						</td>
						<td class="bg-transparent border-solid border-slate-200 border-b p-4 pl-8">{{ item.title }}</td>
						<td class="bg-transparent border-solid border-slate-200 border-b p-4 pl-8">{{ item.creation_date }}</td>
						<td class="bg-transparent border-solid border-slate-200 border-b p-4 pl-8">{{ item.creation_date }}</td>
						<td class="p-4 pl-8 bg-transparent border-solid border-slate-200 border-b shadow-transparent">Editer</td>
						<td class="p-4 pl-8 bg-transparent border-solid border-slate-200 border-b shadow-transparent">Supprimer</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="8" class="text-center bg-transparent border-solid border-slate-200 border-b p-4 pl-8">Pas de contenu pour le moment</td>
					</tr>
					<tr>
					{% endfor %}
				</tbody>
			</tbody>
		</table>
        <footer class="flex justify-between px-6">
            {{ pagination.item(list_articles) }}
        </footer>
	</div>
{% endblock %}
